body
{
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    
    /*can be added at this point again when the map positioning gets fixed*/
    /*width: 100vw;*/
    
    /*Make user not be able to select text(because looks shitty)*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.main
{
    margin: 0 auto;
    width: 55%;
    background-color: rgba(92,211,250,0.77);
    overflow: auto;
    /*background-image: url('images/woodtexture.jpg');*/
    /*background-size:cover;*/
    text-align: center;
    font-family: Headliner;
    font-size: 175%;
}


#logo
{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#content
{
    padding-top: 5%;
}

#leftsection
{
    float: left;
    width: 50%;
}

#rightsection
{
    float: right;
    width: 49%;
    padding-bottom: 1%;
    padding-right: 1%;
}

#mapsection
{
   /* min-width: 1000px;
    min-height: 1000px;*/
}


@font-face
{
    font-family: Headliner;
    src: url("Headliner.ttf");
}

table
{
    margin: 0 auto;
    padding-top: 5%;
}

td:nth-child(1)
{
width: 10%;
}

td:nth-child(2)
{
width: 40%;
text-align: left;
}

td:nth-child(3)
{
width: 50%;
text-align: center;
}

td
{
    vertical-align: middle;
}


button
{
    font-family: Headliner;
    font-size: 100%;
    background-color: rgba(251,167,39,1);
    border-style: inset;
    border-width: thin;
    border-color: rgba(255,170,40,1);
    
    /*background-color: Transparent;
    background-repeat:no-repeat;*/
}

details
{
    text-align: left;
    margin-left: 5%;
}

button:hover
{
    background-color: rgba(255,190,0,1); 
}

	.smooth_zoom_preloader {
		background-image: url(zoom_assets/preloader.gif);
	}	
	.smooth_zoom_icons {
		background-image: url(zoom_assets/icons.png);
	}
	#mapsection .landmarks{
		position:absolute;
		z-index:10;	
		top:0px;
		left:0px;
		font-family: Helvetica, Arial, Verdana;
		font-size:12px;
		color: #ffffff;
	}	
	#mapsection .landmarks .item {
		position:absolute;		
		text-align:center;		
		display: none;	
	}	
	#mapsection .landmarks .lable div {
		width: 100px;
		padding: 4px;		
	}	
	#mapsection .landmarks .mark .text{
		background-color:#000000;
		padding:2px 6px;
	}
